* {
    box-sizing: border-box;
  }
  
  a {
    text-decoration: none;
  }
  
  p {
    margin: 0;
  }

  h1 {
    margin: 0;
  }
  
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  img {
    max-width: 100%;
  }
  
  body {
    font-family: 'Muller';
    margin: 0;
  }

  .container {
    width: 1600px;
  }