.accordion__text {
  padding: 27px 36px;
  border: 1px solid rgba(0, 0, 0, 0.44);
  border-radius: 7px;
}

.accordion__text:not(:last-child) {
  margin-bottom: 24px;
}

.accordion__text-content {
  padding-top: 36px;
  font-weight: 300;
  font-size: 20px;
  line-height: 26.6px;
}

.accordion__button {
  background-color: transparent;
  padding: 0;
  border: none;
  width: 100%;
}

.accordion__button:hover {
  cursor: pointer;
}

.accordion__button-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: transparent;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-weight: 600;
  font-size: 24px;
  line-height: 31px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.accordion__img:active {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.szh-accordion__item-btn {
  width: 100%;
}

.szh-accordion__item-content {
  -webkit-transition: height 0.3s ease-in-out;
  transition: height 0.3s ease-in-out;
}