.business-for__container {
  padding-top: 110px;
  padding-bottom: 84px;
}

.business-for__title {
  line-height: 65px;
  margin-bottom: 80px;
}

.list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 105px;
}

.list__item {
  width: 230px;
}

.list__link {
  color: inherit;
  font-weight: 600;
  font-size: 20px;
  line-height: 27px;
}

.list__item_active {
  color: #1299A2;
  height: 67px;
  border-bottom: 2px solid #1299A2;
  padding-bottom: 11px;
}

@media (max-width: 425px) {
  .business-for__container {
    padding: 40px 20px;
  }
  .business-for__title {
    margin-bottom: 25px;
  }
  .list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 30px;
  }
  .list__item {
    height: 67px;
  }
  .list__item:not(:last-child) {
    margin-bottom: 10px;
  }
}