.specialist__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 357px;
}

.specialist__text {
  width: 680px;
  margin-right: 139px;
}

.specialist__title {
  font-weight: 600;
  font-size: 28px;
  line-height: 26px;
  margin-bottom: 34px;
}

.specialist__info {
  font-weight: 300;
  font-size: 23px;
  line-height: 30px;
  color: rgba(0, 0, 0, 0.7);
}

@media (max-width: 425px) {
  .specialist__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .specialist__text {
    width: 100%;
    margin: 0 0 30px;
  }
  .specialist__title {
    margin-bottom: 20px;
  }
}