.pro__container {
  padding-top: 109px;
  padding-bottom: 134px;
  background-color: #F7FAFC;
}

.pro__title {
  margin-bottom: 80px;
  text-align: center;
}

.pro__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.pro-right, .pro-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.pro-right__img, .pro-left__img {
  margin-right: 20px;
}

.pro-right__title, .pro-left__title {
  margin-bottom: 14px;
}

.pro-right__text, .pro-left__text {
  width: 300px;
  padding-top: 10px;
}

@media (max-width: 425px) {
  .pro__container {
    padding: 40px 20px;
  }
  .pro__title {
    margin-bottom: 35px;
  }
  .pro-left, .pro-right {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
  }
  .pro-left {
    margin-bottom: 25px;
  }
  .pro-right__img, .pro-left__img {
    margin: 0;
  }
  .pro-left__img {
    width: 192px;
    height: 187px;
  }
  .pro-right__img {
    width: 146px;
    height: 172px;
  }
  .pro-left__text, .pro-right__text {
    width: 100%;
    text-align: center;
  }
}