.plus__container {
  padding-top: 109px;
  padding-bottom: 134px;
}

.plus__title {
  margin-bottom: 80px;
  text-align: center;
}

.plus__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 160px;
}

.plus-right, .plus-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.plus-right__img, .plus-left__img {
  margin-right: 20px;
}

.plus-right__title, .plus-left__title {
  margin-bottom: 14px;
}

.plus-right__text, .plus-left__text {
  width: 300px;
}

@media (max-width: 425px) {
  .plus__container {
    padding: 40px 20px;
  }
  .plus__title {
    margin-bottom: 35px;
  }
  .plus__info {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 35px;
  }
  .plus__img {
    margin: 15px 0;
  }
  .plus-left__text, .plus-right__text {
    text-align: center;
  }
  .plus-right {
    width: 100%;
  }
  .plus-right, .plus-left {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .plus-right__img, .plus-left__img {
    margin: 0;
  }
}