.accordion__text {
  padding: 27px 36px;
  border: 1px solid rgba(0, 0, 0, 0.44);
  border-radius: 7px;
}

.accordion__text:not(:last-child) {
  margin-bottom: 24px;
}

.accordion__text-content {
  padding-top: 36px;
  font-weight: 300;
  font-size: 20px;
  line-height: 26.6px;
}

.accordion__button {
  background-color: transparent;
  padding: 0;
  border: none;
  width: 100%;
}

.accordion__button:hover {
  cursor: pointer;
}

.accordion__button-content {
  display: flex;
  background-color: transparent;
  justify-content: space-between;
  font-weight: 600;
  font-size: 24px;
  line-height: 31px;
  user-select: none;
}

.accordion__img:active {
  transform: rotate(180deg);
  transition: all 0.2s ease-in-out;
}

.szh-accordion__item-btn {
  width: 100%;
}

.szh-accordion__item-content {
  transition: height 0.3s ease-in-out;
}