.advert__container {
  background-color: #8C50B5;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
  min-height: 112px;
}

.advert__value {
  width: 113px;
  font-weight: 600;
  font-size: 30px;
  line-height: 48px;
}

.advert__date {
  font-weight: 300;
  font-size: 16px;
  line-height: 26px;
}

.advert__title {
  max-width: 537px;
  margin-bottom: 3px;
  font-weight: 600;
  font-size: 28px;
  line-height: 36px;
}

.advert__info {
  font-weight: 300;
  font-size: 16px;
  line-height: 160%;
}

.advert__btn {
  border: 1px solid #fff;
  padding: 10px 50px;
}

.advert__btn:hover {
  color: #8C50B5;
  background-color: white;
  transition: all 0.2s ease-in-out;
}

@media (max-width: 425px) {
  .advert__container {
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px 0;
  }
  
  .advert__discount {
    display: none;
  }

  .advert__info {
    width: 325px;
  }

  .advert__title {
    margin-bottom: 10px;
    text-align: center;
  }

  .advert__descr {
    margin-bottom: 18px;
    text-align: center;
  }
}