.businessman__content {
  display: flex;
  height: 357px;
}

.businessman__text {
  width: 650px;
  margin-right: 169px;
}

.businessman__title {
  font-weight: 600;
  font-size: 28px;
  line-height: 26px;
  margin-bottom: 34px;
}

.businessman__info {
  font-weight: 300;
  font-size: 23px;
  line-height: 30px;
  color: rgba(0, 0, 0, 0.7);
}