.footer__container {
  font-family: 'Ubuntu';
  color: white;
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: #1299A2;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer__number {
  display: flex;
  flex-direction: column;
  padding-left: 29px;
  font-weight: 500;
  font-size: 20px;
  line-height: 23px;
  margin-bottom: 2px;
}

.footer__call-text {
  font-weight: 500;
  font-size: 15px;
  line-height: 17px;
  color: rgba(255, 255, 255, 0.8);
}

.footer__address {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 25px;
  display: flex;
  flex-direction: column;
}

@media (max-width: 425px) {
  .footer__container {
    padding: 20px;
    flex-wrap: wrap;
  }

  .footer__address {
    margin-top: 20px;
  }
}