.provider__container {
  padding-top: 117px;
}

.provider__text-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 94px;
}

.provider__text {
  width: 640px;
}

.provider__title {
  font-weight: 700;
  font-size: 50px;
  line-height: 65px;
  margin-bottom: 38px;
}

.provider__descr {
  font-weight: 300;
 font-size: 23px;
 line-height: 31px;
}

.provider__advantages {
  display: flex;
  justify-content: space-between;
  margin-bottom: 124px;
}

.provider__p-advantages {
  width: 200px;
}

.provider__heading {
  color: #1299A1;
  font-weight: 900;
  font-size: 24px;
  line-height: 31px;
  margin-bottom: 12px; 
}

.provider__paragraph {
  font-weight: 300;
  font-size: 16px;
  line-height: 21px;
}

.provider__profit-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 154px;
}

.provider__profit {
  width: 770px;
  font-weight: 300;
  font-size: 24px;
  line-height: 31px;
}

.provider__average-profit-info {
  width: 206px;
}

.provider__average-cost {
  font-weight: 600;
  font-size: 30px;
  line-height: 43px;
  color: #1299A1;
}

.provider__average-profit {
  font-weight: 600;
  font-size: 16px;
  line-height: 25px;
  color: #0000009E;
}

.provider__link {
  font-weight: 300;
  font-size: 16px;
  line-height: 23px;
  padding-bottom: 3px;
  color: #1299A2;
  border-bottom:  1px solid #1299A1;
}

.provider__tariffs {
  color: white;
  padding: 47px 205px 221px;
  background-image: url(../assets/tariffsBack.png);
  height: 319px;
  margin-bottom: 132px;
}

.tariffs__text {
  font-weight: 600;
  font-size: 40px;
  line-height: 130%;
  text-align: center;
  margin-bottom: 60px;
}

.tariffs__list {
  display: flex;
  justify-content: space-around;
}

.tariffs__type {
  color: rgba(255, 255, 255, 0.8);
  font-weight: 600;
  font-size: 28px;
  line-height: 38px;
  border-bottom: 1px dashed #FFFFFF;
}

.tariffs__type:hover {
  color: #FFFFFF;
}